.sign-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: stretch;
  padding: 20px 24px;
}

.sign-container .sign-form {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sign-container .sign-form form {
  display: flex;
  flex-direction: column;
  width: 340px;
  text-align: center;

  margin-bottom: 40px;
}

.sign-container .sign-form form h1 {
  margin-bottom: 30px;
}


.sign-container .sign-form form button {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  background-color: #E02041;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  margin-top: 16px;

}

.sign-container .sign-form form button:hover {
  filter: brightness(85%);
}

.sign-container .sign-form a {
  color: #333;
  text-decoration: none;
  margin-top: 40px;
}

.sign-container a:hover {
  opacity: 0.8;
}

.sign-container .sign-form form + a{
  display: flex;
  align-items: center;
  justify-content: center;

  color: #E02041;

  text-decoration: none;
}

.sign-container .sign-form form + a svg {
  margin-right: 16px;
}

.background-img {
  flex: 1;
  background: url('../../assets/sign-in-background.svg') no-repeat center;
  background-size: contain;
}
