.signup-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
}

.signup-container > img {
  width: 100%;
  max-width: 600px;
}

.signup-container .sign-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-container .sign-form form {
  display: flex;
  flex-direction: column;
  width: 340px;
  text-align: center;
  margin-bottom: 40px;
}

.signup-container .sign-form form h1 {
  margin-bottom: 30px;
}

.signup-container .sign-form > a {
  color: #333;
  text-decoration: none;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.signup-container .sign-form > a:hover {
  opacity: 0.8;
}

.signup-container .sign-form > a svg {
  margin-right: 16px;
}

@media screen and (max-width: 1040px){
  .signup-container > img {
    display: none;
  }
}
